.white-tile {
    background: white;
}
.black-tile {
    background: #531406;
    color: white;
}
.clicked-tile {
    background: darkgreen;
    color: white;
}
img {
    width: 70%;
    height: auto;
}