<form>
    <div class="row">
        <div class="form-group col-6 offset-3">
            <label for="chatMessageWindow">Chat window</label>
            <div class="border border-primary">
                <div *ngFor="let message of chatMessages">
                    <small>{{ message.timeStamp | date:"shortTime"}}</small><b>  {{ message.userName }}</b>: {{ message.text }}
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Your message" [(ngModel)]="newMessage" name="messageInput">
                <div class="input-group-append">
                    <button class="btn btn-dark" type="button" (click)="sendMessage()">Send</button>
                </div>
            </div>
        </div>
    </div>
</form>